<app-dynamic-navbar [navItems]="navItems"></app-dynamic-navbar>

<div class="flex p-flex-nowrap p-1 m-1" style="overflow-x: auto;">
  <div *ngFor="let ward of countBedByWard | keyvalue" class="p-mr-3" style="flex: 0 0 auto;">
    <p-card [header]="ward.value.section" styleClass="custom-card">
      <div class="p-d-flex p-jc-between">
        <p class="p-m-0">Available: {{ ward.value.count || 0 }}</p>
      </div>
    </p-card>
  </div>
</div>
<p-card header="Real Time Ward Bed">
  <div class="card">
    <p-table
      styleClass='p-datatable-sm p-datatable-striped'
      [tableStyle]="{ 'min-width': '50rem' }"
      [columns]="cols"
      [value]="wards_bed"
      [rows]="rows"
      [(first)]="first"
      [totalRecords]="totalRecords"
      [paginator]="true"
      [showCurrentPageReport]="true"
      [lazy]="true"
      [lazyLoadOnInit]="false"
      (onLazyLoad)="lazyLoad($event)"
      [tableStyle]="{ 'min-width': '40rem' }"
    >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-end">
          <p-button class="ml-2" label="Assign bed to patient" icon="pi pi-user-plus" severity="help" (click)="assignBed()"/>
      </div>
    </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{ col.header }}
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            {{ rowData[col.field] }}
          </td>
          <td>
            <p-button
              *ngIf="rowData['currentStatus'] != 'OCCUPIED'"
              label="Assign"
              icon="pi pi-user-plus"
              severity="help"
              (click)="assignBed(rowData)"
            />
            <p-button
              *ngIf="rowData['currentStatus'] == 'OCCUPIED'"
              label="Free"
              icon="pi pi-times"
              severity="danger"
              (click)="onFreeBed(rowData)"
            />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-card>
