<app-spinner-loader [visible]="visible"></app-spinner-loader>
<p-card class="p-shadow-4">
    <p-toolbar>
        <div class="p-toolbar-group-left">
            <form [formGroup]="filterForm" (ngSubmit)="onGetUserList()" class="p-fluid">
                <div class="p-field">
                    <label for="status">Status</label>
                    <p-dropdown
                            id="status"
                            formControlName="status"
                            optionLabel="label"
                            placeholder="Select Item"
                            name="status"
                            optionValue="value"
                            [options]="activeChoices"
                            [virtualScroll]="true"
                            [virtualScrollItemSize]="38"
                            styleClass="w-full"
                    ></p-dropdown>
                </div>
                <button type="submit" class="p-button p-button-danger p-button-lg">Search</button>
            </form>
        </div>
        <div class="p-toolbar-group-right">
            <button pButton type="button" routerLink="/admin/new-user/admin" class="p-button p-button-success p-button-lg">Add User</button>
        </div>
    </p-toolbar>
<p-table
        styleClass='p-datatable-sm p-datatable-striped'
        [value]="users"
        [rows]="10"
        [tableStyle]="{ 'min-width': '50rem' }"
        [paginator]="true"
        [rowsPerPageOptions]="[10, 20, 50]"
>

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Username</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.username }}</td>
            <td>
                @if (user.id !== this.authUserService.getLoggedUser()?.id) {
                    <app-toggle-button
                            [active]="user.active"
                            [activeLabel]="'Active'"
                            [notActiveLabel]="'Not active'"
                            (onChangeEvent)="onEnableDisableUser(user.id, $event)"
                    ></app-toggle-button>
                    <button pButton type="button" routerLink="/admin/edit-user/{{ user.id }}/admin" class="p-button p-button-info">Edit</button>
                }
            </td>
        </tr>
    </ng-template>
</p-table>


<!--</div>-->