@if (dashboardData !== undefined) {
    <button [routerLink]="['/admin/dashboard/admin/list']">
        Admin: {{ dashboardData.admin }}
    </button>
    <button [routerLink]="['/admin/dashboard/staff/doctor/list',]">
        Doctors: {{ dashboardData.doctors }}
    </button>
    <button [routerLink]="['/admin/dashboard/staff/nurse/list',]">
        Nurses: {{ dashboardData.nurses }}
    </button>
    <button [routerLink]="['/admin/dashboard/staff/secretary/list',]">
        Secretaries: {{ dashboardData.secretaries }}
    </button>
    <button [routerLink]="['/admin/dashboard/patient/list']">
        Patients: {{ dashboardData.patients }}
    </button>
}


<app-logout />

<router-outlet />
@if (showUserList) {

}
