<div >
    <form [formGroup]="passwordForm" (ngSubmit)="!userId ? onChangePassword() : onChangePasswordToAnotherUser()">
        <div>
            <h1>Change password</h1>
        </div>
        @if (!userId) {
            <input type="password" placeholder="Old password" formControlName="oldPassword" />
        }
        <input type="password" placeholder="New password" formControlName="newPassword" />
        <input type="password" placeholder="Repeated password" formControlName="repeatedPassword" />
        <button type="submit" [disabled]="!passwordForm.valid">Save</button>
    </form>
</div>
